.header__logo {
  width: 142px;
  padding-bottom: 41px;
}

@media screen and (max-width: 917px) {
  .header__logo {
    padding-top: 28px;
    padding-bottom: 31px;
    padding-left: 27px;
    width: 103px;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    max-width: 320px;
    max-height: 56px;
    padding-top: 0px;
  }
}
