.profile__info {
  display: flex;
  max-width: 336px;
  flex-wrap: wrap;
  margin: 0;
  margin-right: 244px;
}

@media screen and (max-width: 880px) {
  .profile__info {
    max-width: 300px;
    margin-right: auto;
  }
}

@media screen and (max-width: 580px) {
  .profile__info {
    max-width: 282px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
